body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'play';
  src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'sml';
  src: url(fonts/sml.otf);
}
@font-face {
  font-family: 'anavio';
  src: url(fonts/anavio.ttf);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cyan
{
  background: #222466;
}
ul.brackets {
  display: flex;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  align-items: center;
  justify-content: center;
}
ul.brackets li {
  margin-right:14px;
  font-size: 2.5em;
  font-family: 'play';
  margin-left:14px;

}
ul.brackets a {
  position: relative;
  color: white;
  text-decoration: none;
}
ul.brackets a:before, ul.brackets a:after, h2:before, h2:after
{
    position: absolute;
    opacity: 0;
    font-size: 50px;
    top: 0px;
    transition: all 0.3s;
}
ul.brackets a:before, h2:before
{
    content: '(';
    left: -10px;
    transform: translateX(10px);
    color: #E5AD4A;
}
ul.brackets a:after, h2:after
{
    content: ')';
    right: -20px;
    transform: translateX(-20px);
    color: #E5AD4A;
}
ul.brackets a:hover:before, ul.brackets a:hover:after, h2:hover:after, h2:hover:before
{
    opacity: 1;
    transform: translateX(0px);
}

h2{
  font-family: 'play';
  text-align: center;
  font-size: 2.5em;
}
p{
  text-align: justify;
  margin: 0.2em;
  font-size:0.8em;
}
img{
  text-align: center;
  display:block;
  align-items: center;
  margin: auto;
  width: 20em;
  height:20em;
}
/* #img{
  text-align:center;
  align-self:center;
} */
.imm, .imma{
 text-align: center;
 align-items: center;
 width: 50rem;
 height:50rem;
 filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.5));
 filter: sepia(60%);
}
.link{
  font-size: 1em;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:5em;
  background-color: #222466;
  padding: 20px;
  text-align: center;
  font-family: 'play', sans-serif;
  color: white;
  font-size: 1.5em;
  z-index: 1;
}
.para, .disco, .carousel button{
  font-family: 'anavio';
  font-size: 1.2em;
  color: #222466;
  position: relative;
  background-color: #E8DBAC;
  border-radius: 12%;
}
.centered-carousel{
  justify-content: center;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
}
Link, a{
  color: white;
  text-decoration: none;
}
a:hover{
  color:#DB7754;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .brackets li {
    margin: 10px 0;
    color:#DB7754;
  }
}
progress {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: #ffffff;
}

progress::-webkit-progress-value {
  background-color: #E5AD4A;
}

.scro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;

  align-items: center;
  padding: 0 20px;
  transition: background-color 0.3s ease;
}

.scro.scrolled {
  background-color: #E5AD4A;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:0.8em;

}

@keyframes fill {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.container1{
  background-image: url(../src/images/luno.gif);
  background-repeat: no-repeat; /* Set the background image to not repeat */
  background-size: cover;
  margin-bottom: 0;
  justify-content: center;
  padding-bottom: 12em;
  background-position: center center;
}
.fluid-text {
  font-size: 8rem;
  font-weight: bold;
  font-family: 'play';
  text-transform: uppercase;
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
  align-items: center;
  padding-top: 3em;
}
.carr h1{
  font-size: 6em;
  font-family: 'play';
  color:#bdb9b7;
}
.carr h2{
  color: #DB7754;
  padding-bottom: 1em;
}
.fluid-text:before,
.fluid-text:after, h2:before, h2:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: transform 0.3s ease;
  padding-top: 3em;
}

.fluid-text:hover:before,
.fluid-text:hover:after, h2:hover:before, h2:hover:after {
  transform: translateX(-5px) translateY(-5px);
}

.fluid-text.hovered:before,
.fluid-text.hovered:after, h2:hovered:before, h2:hovered:after {
  transform: translateX(5px) translateY(5px);
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Adjust this value to set the container's height */
}
.fino{
  padding-bottom: 2em;
}
.mom{
  background-image: url('../src/images/old.jpg'); /* Replace with the path to your background image */
  opacity: 0.8;
  filter: blur(1px);
  width: 50rem;
  display: flex;
  flex-direction: row;
  border-radius: 12%;
  justify-content: space-between;
  margin: 9em;
  background-size: cover;
  background-position: center center;
}
.textlu {
  background-image: url('../src/images/textlu.avif');
  text-align: justify;
  opacity: 1;
  backdrop-filter: blur(5px);
  width: 60rem;
  display: flex;
  flex-direction: row;
  border-radius: 12%;
  margin: auto;
  /* justify-content: center; */
  background-size: cover;
  background-position: center center;
  margin-bottom: 2rem;
}
.mom, .textlu{
  position: relative;
  z-index: 1;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.tit{
  background-image: url('../src/images/textlu.avif');
  opacity: 1;
  backdrop-filter: blur(5px);
  width: 50rem;
  display: flex;
  flex-direction: row;
  border-radius: 12%;
  margin: auto;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1; /* Updated z-index value */
}
.tit h2{
  background-color:#bdb9b7;
  margin: 1em;
}
.mom h2{
  margin: 1em;
  background-color: #E8DBAC;
  border-radius: 12%;
}
.textlu h2, .carousel button{
  margin: 1em;
  background-color: #bdb9b78f;
  border-radius: 12%;
  text-shadow: 1px 2px white, 1px 2px #e8dbac;

}
.disco {
  z-index: -1;
  max-width: 1000px; /* Adjust the maximum width as needed */
  margin: 0;
  filter:saturate(100%);
  /* border-radius: 12%; */
  background-color: #ccc6c2bf;
  /* backdrop-filter: blur(2px); */
  padding: 1em;
}
.journal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3em;
  align-items: stretch;
  margin-bottom: 4em;
}
.cielo{
  background-image: url(../src/images/terra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 3em;
  padding-bottom: 40em;
}
.cielo1{
  background-image: url(../src/images/cielo.gif);
  padding-top: 3em;
  padding-bottom: 40em;
}
.nett{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28em;
  padding-top: 5em;
  background-image: url(../src/images/cielo.gif);
  justify-content: center;
  margin: auto;
}
iframe{
  padding-top: 2em;
}
#TEI{
  color: #E5AD4A;
  font-family: 'play';
  font-size: 2em;
}
.sidebar-links .section-list {
  display: flex;
  list-style-type: none;
  padding: 0;

}
.section-id{
  background-image: url(../src/images/textlu.avif);
  padding: 2em;
  border-radius: 12%;
  color: #222466;
  font-size: 2em;
  margin: auto;
  text-transform: capitalize;
}
.sidebar-links .section-list li {
  margin-right: auto;
  margin-left: auto;
}

.sidebar-links .section-list li:last-child {
  margin-right: 0;
}
.section-list button{
  background-color: #bdb9b7;
}
/*
#network{
  background:black;
  /* opacity:10%; */


.graph-view .graph .sigma-container .sigma-mouse {
    z-index: 101;
    background-color: black !important;
    opacity: 10%;
}
.code-cont{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 30em; /* Set a fixed height for scrollable overflow */

}
.code {
  padding: 1em;
  color: white;
  width: 60rem;
  display: flex;
  flex-direction: row;
  border-radius: 12%;
  font-size: 0.8em;
}
.sidebar-top{
  padding-bottom: 40em;
}
carousel-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  color:#bdb9b7;
}
.image-container h3{
  color: #bdb9b7;
  font-family: 'anavio';
  font-size: 1.4em;
}
