body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'play';
  src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'sml';
  src: url(fonts/sml.otf);
}
@font-face {
  font-family: 'anavio';
  src: url(fonts/anavio.ttf);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cyan
{
  background: #11848A;
}
ul.brackets {
  display: flex;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  align-items: center;
  justify-content: center;
}
ul.brackets li {
  margin-right: 30px;
  font-size: 3em;
  font-family: 'play';
  margin-left: 30px;
  
}
ul.brackets a {
  position: relative;
  color: white;
  text-decoration: none;
}
ul.brackets a:before, ul.brackets a:after, h2:before, h2:after
{
    position: absolute;
    opacity: 0;
    font-size: 50px;
    top: 0px;
    transition: all 0.3s;
}
ul.brackets a:before, h2:before
{
    content: '(';
    left: -12px;
    transform: translateX(10px);
    color: #222466;
}
ul.brackets a:after, h2:after
{
    content: ')';
    right: -12px;
    transform: translateX(-10px);
    color: #222466;
}
ul.brackets a:hover:before, ul.brackets a:hover:after, h2:hover:after, h2:hover:before
{
    opacity: 1;
    transform: translateX(0px);
}

h2{
  font-family: 'play';
  text-align: center;
  font-size: 2.5em;
}
p{
  text-align: center;
  font-size: 1.5em;
  margin: 0.2em;
}
.imm{
 text-align: center;
}
.net{
  height: 20em;
}
.link{
  font-size: 1em;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222466;
  padding: 20px;
  text-align: center;
  font-family: 'play'!important;
  color: white;
}
.para{
  font-family: 'anavio';
}
Link, a{
  color: white;
  text-decoration: none;
}
a:hover{
  color:#DB7754;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .brackets li {
    margin: 10px 0;
    color:#DB7754;
  }
}